
#sideNav .navbar-nav .nav-item .nav-link {

  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #20c997;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
img{border-radius: 100%}

.content{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  
  word-spacing: 1.0em;
  letter-spacing: 0.5em;
  font-weight: 50%;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 50px;

}
#h1{
  font-family: 'Abril Fatface' , cursive;
  font-size: 80px;

}
#h12{
  color: #20c997 !important;
}
.maincontent1{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  margin-top: 150px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;  
}
.colored{
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left,right: 30px; 
}


